<!DOCTYPE html>
<html lang="en" ng-app="LisApp" ng-controller="AppController as vm">
	<head>
		<title>{{vm.selected_menu}} Page | LIS - PGLU</title>
		<link rel="stylesheet" type="text/css" href="/angular-app/bower_components/angular-material/angular-material.min.css">
		<link rel="stylesheet" type="text/css" href="/angular-app/bower_components/angular-material-icons/angular-material-icons.css"></li>
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" type="text/css" href="/angular-app/bower_components/mdDataTable/dist/md-data-table-style.css">

		<link rel="stylesheet" href="/angular-app/assets/css/main.css">
	</head>
	<body>
		<div layout="row" layout-wrap layout-fill>
			<md-sidenav layout-fill class="md-sidenav-left md-whiteframe-z2" md-component-id="appMenu" md-is-locked-open="$mdMedia('gt-md')">
				<md-toolbar class="md-theme-indigo" layout-align="top center">
					<h1 class="md-toolbar-tools">LIS PGLU</h1>
				</md-toolbar>
				<md-content layout-align="top center">
					<md-list ng-cloak class="app-menus">
						<md-list-item ng-click="vm.goTo(menu); vm.selected_menu = menu.title" ng-repeat="menu in vm.menus" class="menu" ng-class="{selected: vm.selected_menu == menu.title}">							
							<p>{{menu.title}}</p>
							<md-menu class="md-secondary" ng-if="menu.submenus.length">
								<md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
									<md-icon md-menu-origin>keyboard_arrow_down</md-icon>
								</md-button>
								<md-menu-content width="4">
									<md-menu-item ng-repeat="submenu in menu.submenus">
										<md-button ng-click="vm.goTo(submenu)">
											{{submenu.title}}
										</md-button>
									</md-menu-item>
								</md-menu-content>
							</md-menu>
						</md-list-item>
						<md-divider></md-divider>
						<md-list-item ng-click="vm.goTo($event)">
							<p>Logout</p>
						</md-list-item>		      
					</md-list>
				</md-content>
			</md-sidenav>
			<md-content flex autoscroll>
				<md-toolbar>
					<div class="md-toolbar-tools">
						<md-button class="md-icon-button" aria-label="Settings" hide-gt-md="" ng-click="vm.toggleMenu('appMenu')">
							<md-icon>list</md-icon>
						</md-button>
						<h2>
							<span>{{vm.selected_menu}} Page</span>
						</h2>
					</div>
				</md-toolbar>
				<md-content ng-view flex layout-padding></md-content>
			</md-content>
		</div>

		<script type="text/javascript" src="/angular-app/bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="/angular-app/bower_components/underscore/underscore-min.js"></script>
		<script type="text/javascript" src="/angular-app/bower_components/moment/min/moment.min.js"></script>
		<script type="text/javascript" src="/angular-app/bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="/angular-app/bower_components/angular-animate/angular-animate.min.js"></script>
		<script type="text/javascript" src="/angular-app/bower_components/angular-aria/angular-aria.min.js"></script>
		<script type="text/javascript" src="/angular-app/bower_components/angular-messages/angular-messages.min.js"></script>
		<script type="text/javascript" src="/angular-app/bower_components/angular-route/angular-route.min.js"></script>
		<script type="text/javascript" src="/angular-app/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="/angular-app/bower_components/angular-material/angular-material.min.js"></script>
		<script type="text/javascript" src="/angular-app/bower_components/angular-material-icons/angular-material-icons.min.js"></script>
		<script type="text/javascript" src="/angular-app/bower_components/angular-google-chart/ng-google-chart.min.js"></script>
		<script type="text/javascript" src="/angular-app/bower_components/mdDataTable/dist/md-data-table-templates.js"></script>	
		<script type="text/javascript" src="/angular-app/bower_components/mdDataTable/dist/md-data-table.js"></script>		
		<script type="text/javascript" src="/angular-app/bower_components/lodash/lodash.min.js"></script>
		
		<script type="text/javascript" src="/angular-app/app.module.js"></script>
		<script type="text/javascript" src="/angular-app/app.config.js"></script>
		<script type="text/javascript" src="/angular-app/app.controller.js"></script>
		<script type="text/javascript" src="/angular-app/app.routes.js"></script>
		
		<script type="text/javascript" src="/angular-app/modules/homepage/homepage.module.js"></script>
		<script type="text/javascript" src="/angular-app/modules/homepage/homepage.controller.js"></script>
		<script type="text/javascript" src="/angular-app/modules/homepage/homepage.route.js"></script>

		<script type="text/javascript" src="/angular-app/modules/communications/communications.module.js"></script>
		<script type="text/javascript" src="/angular-app/modules/communications/communications.controller.js"></script>
		<script type="text/javascript" src="/angular-app/modules/communications/communications.route.js"></script>

		<script type="text/javascript" src="/angular-app/modules/resolutions/resolutions.module.js"></script>
		<script type="text/javascript" src="/angular-app/modules/resolutions/resolutions.controller.js"></script>
		<script type="text/javascript" src="/angular-app/modules/resolutions/resolutions.route.js"></script>
		<script type="text/javascript" src="/angular-app/modules/resolutions/resolutions.service.js"></script>

		<script type="text/javascript" src="/angular-app/modules/ordinances/ordinances.module.js"></script>
		<script type="text/javascript" src="/angular-app/modules/ordinances/ordinances.controller.js"></script>
		<script type="text/javascript" src="/angular-app/modules/ordinances/ordinances.route.js"></script>
		<script type="text/javascript" src="/angular-app/modules/ordinances/ordinances.service.js"></script>

		<script type="text/javascript" src="/angular-app/directives/resolutions/resolutions.directive.js"></script>
		<script type="text/javascript" src="/angular-app/directives/ordinances/ordinances.directive.js"></script>
	</body>
</html>